//BASE
$font-base          : 18px !important;

//COLORS
$primary            :   #00B0F0;
$secondary          :   #FFC000;
$dark               :   #2B2B2B;
$gray               :   #4A4958;

//FONT
$font-family        :   'Plus Jakarta Sans', sans-serif!important;
$font-regular       :   400;
$font-regular-italic:   400i;
$font-medium        :   500;
$font-bold          :   700;
$font-extra-bold    :   800;
$white              :   #fff;





